---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import SocialLink from './SocialLink.astro';
import GithubLogo from './GithubLogo.astro';
import TwitterLogo from './TwitterLogo.astro';
---

<header>
	<div class="mb-8 text-center">
		<h1 class="text-4xl">Nelson Izquierdo</h1>
		<h2 class="text-xl"><span class="text-nelson">Frontend</span> Developer</h2>
	</div>
	<nav class="flex items-center justify-between">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Proyectos</HeaderLink>
		<SocialLink href="https://github.com/nedilio"><GithubLogo></GithubLogo></SocialLink>
		<SocialLink href="https://twitter.com/nedilio"><TwitterLogo></TwitterLogo></SocialLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
