---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }, "text-green-600 hover:text-green-500 hover:underline transition-all ease-in duration-100" ]} {...props}>
	<slot />
</a>
<style>
	.active {
		font-weight: bold;
	}
</style>
