---
import { getProjects } from '../services';
import ProjectCard from './ProjectCard.astro';
const projects = await getProjects()
const {id} =(Astro.props)
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {projects.map(project => project.id != id && <ProjectCard project={project} />)}
</div>