---
const {href} = Astro.props;
console.log(href)
---

<a href={href} target="_blank" class="text-green-600 hover:text-green-500 hover:underline transition-all ease-in duration-100 ">
    <slot/>
</a>